<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2024-2025 <a href="https://karyatekno.biz.id">KaryaTekno</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.0
    </div>
  </footer>